<!--
///////////////////////////////////////////
// author     : Ben Kietzman
// begin      : 2015-08-03
// copyright  : Ben Kietzman
// email      : ben@kietzman.org
///////////////////////////////////////////
-->
<div ng-controller="Login">
  <br><br><br>
  <div ng-show="showForm" class="row" style="width:50%;">
    <div class="panel panel-default" style="display: table; box-shadow: 3px 3px 4px black;">
      <div class="panel-heading" style="font-weight:bold">
        {{login.title}}
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-5"><div class="input-group"><div class="input-group-addon">User</div><input class="form-control" type="text" id="login_userid" ng-model="login.userid" maxlength="20" ng-keyup="$event.keyCode == 13 && submit()" placeholder="User"></div></div>
          <div class="col-md-5"><div class="input-group"><div class="input-group-addon">Password</div><input class="form-control" type="password" ng-model="login.password" maxlength="64" ng-keyup="$event.keyCode == 13 && submit()" placeholder="Password"></div></div>
          <div class="col-md-2"><button class="btn btn-primary pull-right" ng-click="submit()">Login</button></div>
        </div>
      </div>
  </div>
  <div ng-show="message" style="color:red;font-weight:bold;"><br>{{message}}</div>
  <div ng-show="info" style="color:orange;"><br>{{info}}</div>
</div>
